h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
h2{
    text-align: center;
    font-size: smaller;
}
.btn btn-primary{
    display: block;
    margin: 0 auto;
    width: 200px;
    box-shadow: 25px;
}
img{
    width: 90%;
    margin: 20px auto;
    border-radius: 20px;
    display: block;
    
}